﻿@model desempenho_cge.ViewModels.CapacitacaoViewModel

<h1>Nova Capacitação</h1>
<form asp-action="Create" enctype="multipart/form-data">
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label asp-for="AuditorId" class="control-label"></label>
                <select class="form-control" asp-for="AuditorId" asp-items="@ViewBag.Auditores">
                    <option disabled selected>Selecione um(a) Auditor(a) aqui</option>
                </select>
                <span asp-validation-for="AuditorId" class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="ModalidadeId" class="control-label"></label>
                <select id="ModalidadeId" class="form-control" asp-for="ModalidadeId" asp-items="@ViewBag.Modalidades">
                    <option disabled selected>Selecione uma Modalidade aqui</option>
                </select>
                <span asp-validation-for="ModalidadeId" class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="Requisito" class="control-label"></label>
                <select id="Requisitos" class="form-control" asp-for="Requisito">
                    <option disabled selected>Selecione um Requisito aqui</option>
                </select>
                <span asp-validation-for="Requisito" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label asp-for="NomeCurso" class="control-label"></label>
                <input asp-for="NomeCurso" class="form-control" />
                <span asp-validation-for="NomeCurso" class="text-danger"></span>
            </div>
        </div>
        <div class="col-2">
            <div class="form-group">
                <label asp-for="DataInicio" class="control-label"></label>
                <input asp-for="DataInicio" class="form-control" />
                <span asp-validation-for="DataInicio" class="text-danger"></span>
            </div>
        </div>
        <div class="col-2">
            <div class="form-group">
                <label asp-for="DataFim" class="control-label"></label>
                <input asp-for="DataFim" class="form-control" />
                <span asp-validation-for="DataFim" class="text-danger"></span>
            </div>
        </div>
        <div class="col-2">
            <div class="form-group">
                <label asp-for="CargaHoraria" class="control-label"></label>
                <input asp-for="CargaHoraria" class="form-control" />
                <span asp-validation-for="CargaHoraria" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label asp-for="EixoId" class="control-label"></label>
                <select id="EixoId" class="form-control" asp-for="EixoId" asp-items="@ViewBag.Eixos">
                    <option disabled selected>Selecione um Eixo aqui</option>
                </select>
                <span asp-validation-for="EixoId" class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="Tema" class="control-label"></label>
                <select id="Temas" class="form-control" asp-for="Tema">
                    <option disabled selected>Selecione um Tema aqui</option>
                </select>
                <span asp-validation-for="Tema" class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="GrauRelevancia" class="control-label"></label>
                <input id="Relevancia" asp-for="GrauRelevancia" class="form-control" disabled />
                <span asp-validation-for="GrauRelevancia" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label asp-for="InstituicaoPromotora" class="control-label"></label>
                <input asp-for="InstituicaoPromotora" class="form-control" />
                <span asp-validation-for="InstituicaoPromotora" class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="FormaCapacitacao" class="control-label"></label>
                <select class="form-control" asp-for="FormaCapacitacao">
                    <option disabled selected>Selecione a forma de capacitação</option>
                    <option value="EAD">EAD</option>
                    <option value="Presencial">Presencial</option>
                </select>
                <span asp-validation-for="FormaCapacitacao" class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="Homologado" class="control-label"></label>
                <select class="form-control" asp-for="Homologado">
                    <option disabled selected>Selecione um valor de Homologação</option>
                    <option value="Validado">Validado</option>
                    <option value="Não Validado">Não Validado</option>
                </select>
                <span asp-validation-for="Homologado" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label asp-for="Observacao" class="control-label"></label>
                <textarea class="form-control" asp-for="Observacao"></textarea>
                <span asp-validation-for="Observacao" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label class="control-label">Anexar Documento:</label>
                <input class="form-control" type="file" name="documento" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="row justify-content-start">
                <div class="col-md-auto">
                    <a class="btn btn-sm btn-primary" asp-action="Index">Voltar</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row justify-content-end">
                <div class="col-md-auto">
                    <a asp-action="Create" class="btn btn-sm btn-danger">Limpar</a>
                </div>
                <div class="col-md-auto">
                    <input type="submit" value="Salvar" class="btn btn-sm btn-primary" />
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts
{
    <script src="~/js/Capacitacao.js" asp-append-version="true"></script>
}