﻿@model desempenho_cge.Models.Capacitacao

<h1>Detalhes</h1>
<div>
    <dl class="row">
        <dt class = "col-md-auto">Eixo de Conhecimento</dt>
        <dd class = "col-md-auto">
            @Html.DisplayFor(model => model.Eixo.Nome)
        </dd>
        <dt class = "col-md-auto">@Html.DisplayNameFor(model => model.Tema)</dt>
        <dd class = "col-md-auto">
            @Html.DisplayFor(model => model.Tema)
        </dd>
        <dt class = "col-md-auto">Modalidade</dt>
        <dd class = "col-md-auto">
            @Html.DisplayFor(model => model.Modalidade.Nome)
        </dd>
        <dt class = "col-md-auto">@Html.DisplayNameFor(model => model.Requisito)</dt>
        <dd class = "col-md-auto">
            @Html.DisplayFor(model => model.Requisito)
        </dd>
        <dt class = "col-md-auto">Auditor</dt>
        <dd class = "col-md-auto">
            @Html.DisplayFor(model => model.AuditorId)
        </dd>
        <dt class = "col-md-auto">Nome do Curso/Evento</dt>
        <dd class = "col-md-auto">
            @Html.DisplayFor(model => model.NomeCurso)
        </dd>
        <dt class = "col-md-auto">Início</dt>
        <dd class = "col-md-auto">
            @Html.DisplayFor(model => model.DataInicio)
        </dd>
        <dt class = "col-md-auto">Fim</dt>
        <dd class = "col-md-auto">
            @Html.DisplayFor(model => model.DataFim)
        </dd>
        <dt class = "col-md-auto">@Html.DisplayNameFor(model => model.Dias)</dt>
        <dd class = "col-md-auto">
            @Html.DisplayFor(model => model.Dias)
        </dd>
        <dt class = "col-md-auto">Grau de Relevância</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GrauRelevancia)
        </dd>
        <dt class = "col-md-auto">Instituição Promotora</dt>
        <dd class = "col-md-auto">
            @Html.DisplayFor(model => model.InstituicaoPromotora)
        </dd>
        <dt class = "col-md-auto">Forma de Capacitação</dt>
        <dd class = "col-md-auto">
            @Html.DisplayFor(model => model.FormaCapacitacao)
        </dd>
        <dt class = "col-md-auto">Observações</dt>
        <dd class = "col-md-auto">
            @Html.DisplayFor(model => model.Observacao)
        </dd>
        <dt class = "col-md-auto">@Html.DisplayNameFor(model => model.Homologado)</dt>
        <dd class = "col-md-auto">
            @Html.DisplayFor(model => model.Homologado)
        </dd>
        <dt class = "col-md-auto">Pontuação</dt>
        <dd class = "col-md-auto">
            @Html.DisplayFor(model => model.Pontuacao)
        </dd>
    </dl>
</div>
<div>
    <p><a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@Model.CapacitacaoId">Editar</a></p>
    <p><a class="btn btn-sm btn-primary" asp-action="Index">Voltar</a></p>
</div>