﻿@model IEnumerable<desempenho_cge.Models.Capacitacao>

<h1>Capacitações</h1>
<div class="row">
    <div class="col-md-auto">
        <a class="btn btn-sm btn-primary" asp-action="Create"><i class="fas fa-plus"></i> Nova Capacitação</a>
    </div>
</div>
<br />
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Modalidade</th>
            <th>Auditor</th>
            <th>Nome do Curso/Evento</th>
            <th>Homologado</th>
            <th>Pontuação Obtida</th>
            <th>Documento Anexado</th>
            <th>Detalhes</th>
            <th>Editar</th>
            <th>Excluir</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Modalidade.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Auditor.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeCurso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Homologado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pontuacao)
            </td>
            <td>
                @if (item.DocumentoPath != null)
                {
                    <a class="btn btn-sm btn-primary" asp-action="Download" asp-route-id="@item.CapacitacaoId">
                        <i class="fas fa-download"></i> Baixar
                    </a>
                }
                else
                {
                    <span>Sem documento anexado</span>
                }
            </td>
            <td>
                <a class="btn btn-sm btn-success" asp-action="Details" asp-route-id="@item.CapacitacaoId">
                    <i class="far fa-eye"></i>
                </a>
            </td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@item.CapacitacaoId">
                    <i class="fas fa-edit"></i>
                </a>
            </td>
            <td>
                <form asp-action="Delete" asp-route-id="@item.CapacitacaoId" method="post">
                    <button type="submit" class="btn btn-sm btn-danger">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
