﻿@model desempenho_cge.Models.Questionario

<div class="row justify-content-center">
    <div class="col-md-6">
        <p><h1>Novo Questionário</h1></p>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Nome do Questionário:</label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Descrição do Questionário:</label>
                <textarea class="form-control" asp-for="Descricao"></textarea>
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-auto">
                        <a class="btn btn-sm btn-dark" asp-action="Index">
                            <i class="fas fa-arrow-left"></i>
                            Voltar
                        </a>
                    </div>
                    <div class="col-md-auto">
                        <button type="submit" class="btn btn-sm btn-primary">
                            <i class="fas fa-save"></i>
                            Salvar
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

