﻿@model IEnumerable<Questionario>

<div class="row justify-content-between">
    <div class="col-md-auto">
        <h1>Questionários</h1>
    </div>
    <div class="col-md-auto align-self-center">
        <a asp-action="Create" class="btn btn-sm btn-primary">
            <i class="fas fa-plus"></i>
            Novo Questionário
        </a>
    </div>
</div>
<br />
@foreach(var questionario in Model)
{
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">@questionario.Nome</h4>
            <p class="card-text">@questionario.Descricao</p>
        </div>
        <hr />
        <div class="card-body">
            <h5 class="card-title">Grupos de Questões</h5>
            <ul class="list-group">
                @foreach (var grupo in questionario.Grupos)
                {
                    <li class="list-group-item">
                        <div class="row justify-content-between">
                            <div class="col-md-auto">
                                <p class="card-text">@grupo.Conteudo</p>
                            </div>
                            <div class="col-md-auto">
                                <a class="btn btn-sm btn-success"
                                   asp-controller="Grupo" asp-action="Index"
                                   asp-route-id="@grupo.QuestaoId">
                                    <i class="far fa-eye"></i> 
                                    Abrir Grupo
                                </a>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
        <div class="card-body">
            <div class="row align-items-center">
                <div class="col-md-auto">
                    <a class="btn btn-sm btn-success"
                       asp-controller="Grupo" asp-action="Create"
                       asp-route-id="@questionario.QuestionarioId">
                        <i class="fas fa-plus"></i>
                        Inserir Grupo de Questões
                    </a>
                </div>
                <div class="col-md-auto">
                    <a class="btn btn-sm btn-primary"
                       asp-action="Edit" asp-route-id="@questionario.QuestionarioId">
                        <i class="far fa-edit"></i>
                        Editar Questionário
                    </a>
                </div>
                <div class="col-md-auto">
                    <form asp-action="Delete" asp-route-id="@questionario.QuestionarioId" method="post">
                        <button type="submit" class="btn btn-sm btn-danger">
                            <i class="fas fa-trash-alt"></i>
                            Excluir Questionário
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br />
}