﻿@model IEnumerable<desempenho_cge.Models.Account.AppUser>

<h1>Index</h1>
<p><a class="btn btn-secondary" asp-action="Create">Criar Usuário</a></p>
<table class="table table-sm table-bordered">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Cpf)</th>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
            <th>Editar</th>
            <th>Excluir</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Cpf)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>
                    <a class="btn btn-sm btn-primary" asp-action="Update" asp-route-id="@item.Id">Editar</a>
                </td>
                <td>
                    <form asp-action="Delete" asp-route-id="@item.Id" method="post">
                        <button type="submit" class="btn btn-sm btn-danger">
                            Excluir
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
