﻿@model desempenho_cge.Models.Account.AppUser

<h1>Editar Usuário</h1>
<a asp-action="Index" class="btn btn-secondary">Voltar</a>
<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Update" method="post">
    <input asp-for="Id" class="form-control" type="hidden"/>
    <div class="form-group">
        <label class="control-label">C.P.F:</label>
        <input asp-for="Cpf" class="form-control" />
    </div>
    <div class="form-group">
        <label class="control-label">E-Mail:</label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label for="password">Senha:</label>
        <input name="password" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Salvar Alterações</button>
</form>
