﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Desempenho</title>
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("css", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/desempenho_icon.png" width="30" height="30" class="d-inline-block align-top" alt="">
                    Desempenho
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse ">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Início</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-light dropdown-toggle" href="#" id="navbarProdutividade" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Produtividade
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarProdutividade">
                                <a class="dropdown-item" asp-controller="Produtividades" asp-action="Create">Cadastrar</a>
                                <a class="dropdown-item" asp-controller="Produtividades" asp-action="Index">Consultar</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-light dropdown-toggle" href="#" id="navbarCapacitacao" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Capacitação
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarCapacitacao">
                                <a class="dropdown-item" asp-controller="Capacitacoes" asp-action="Create">Cadastrar</a>
                                <a class="dropdown-item" asp-controller="Capacitacoes" asp-action="Index">Consultar</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-light dropdown-toggle" href="#" id="navbarQualidade" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Qualidade
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarQualidade">
                                <a class="dropdown-item" asp-controller="Questionario" asp-action="Index">Questionários</a>
                                <a class="dropdown-item" asp-controller="Avaliacao" asp-action="Index">Avaliações</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-light dropdown-toggle" href="#" id="navbarTabelas" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Tabelas
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarTabelas">
                                <li class="dropdown-submenu">
                                    <a id="dropdownProdutividade" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" class="dropdown-item dropdown-toggle">
                                        Tabelas Produtividade
                                    </a>
                                    <ul aria-labelledby="dropdownProdutividade" class="dropdown-menu">
                                        <li><a asp-controller="Complexidades" asp-action="Index" class="dropdown-item">Complexidades</a></li>
                                        <li><a asp-controller="Produtos" asp-action="Index" class="dropdown-item">Produtos</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a id="dropdownCapacitacao" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-item dropdown-toggle">
                                        Tabelas Capacitação
                                    </a>
                                    <ul aria-labelledby="dropdownCapacitacao" class="dropdown-menu">
                                        <li><a asp-controller="Modalidades" asp-action="Index" class="dropdown-item">Modalidades</a></li>
                                        <li><a asp-controller="Requisitos" asp-action="Index" class="dropdown-item">Requisitos</a></li>
                                        <li><a asp-controller="Eixos" asp-action="Index" class="dropdown-item">Eixos</a></li>
                                        <li><a asp-controller="Temas" asp-action="Index" class="dropdown-item">Temas</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a id="dropdownSistema" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-item dropdown-toggle">
                                        Tabelas Sistema
                                    </a>
                                    <ul aria-labelledby="dropdownSistema" class="dropdown-menu">
                                        <li><a asp-controller="Auditores" asp-action="Index" class="dropdown-item">Auditores</a></li>
                                        <li><a asp-controller="Orgaos" asp-action="Index" class="dropdown-item">Unidades Orçamentárias</a></li>
                                        <li><a asp-controller="Unidades" asp-action="Index" class="dropdown-item">Unidades de Execução</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a id="dropdownUsuario" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-item dropdown-toggle">
                                        Tabelas Usuários
                                    </a>
                                    <ul aria-labelledby="dropdownUsuario" class="dropdown-menu">
                                        <li><a asp-controller="Admin" asp-action="Index" class="dropdown-item">Usuário</a></li>
                                        <li><a asp-controller="Role" asp-action="Index" class="dropdown-item">Roles</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    @if (User?.Identity?.IsAuthenticated ?? false)
                    {
                        <span class="navbar-text text-light">
                            @User.Identity.Name
                        </span>
                        <div class="form-inline my-2 my-lg-0">
                            <a asp-controller="Account" asp-action="Logout" class="btn btn-danger">
                                <i class="fas fa-sign-out-alt"></i>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container_modificado">
        <main role="main" class="pb-3">
            <partial name="_Alert" />
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Desempenho
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery.maskMoney.min.js"></script>
    <script src="~/js/Submenu.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
