﻿@model desempenho_cge.Models.Account.Login

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Desempenho</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="login-body">
    <div class="text-danger" asp-validation-summary="All"></div>
    <div class="container">
        <div class="row text-center">
            <div class="col-md-6 offset-md-3">
                <div class="login-img">
                    <img src="~/images/desempenho_icon.png">
                </div>
                <div class="login-title">
                    <h4>Desempenho</h4>
                </div>
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            <h4>Login</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <form asp-action="Login" method="post">
                            <input type="hidden" asp-for="ReturnUrl" />
                            <div class="form-group">
                                <label><strong>Digite seu CPF:</strong></label>
                                <input asp-for="Cpf" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label><strong>Digite sua senha:</strong></label>
                                <input type="password" asp-for="Password" class="form-control" />
                            </div>
                            <button class="btn btn-sm btn-primary" type="submit">Entrar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
