﻿@model desempenho_cge.ViewModels.Produtividade.ProdutividadeViewModel

<h1>Registrar Produtividade</h1>
<form asp-action="Create">
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label asp-for="Auditor.Nome" class="control-label"></label>
                <select id="AuditorId" class="form-control" asp-for="AuditorId" asp-items="@ViewBag.Auditores">
                    <option disabled selected>Selecione um(a) Auditor(a) aqui</option>
                </select>
                <span asp-validation-for="AuditorId" class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="UnidadeExecucao" class="control-label"></label>
                <select id="Unidades" class="form-control" asp-for="UnidadeExecucao">
                    <option disabled selected>Selecione uma Unidade aqui</option>
                </select>
                <span asp-validation-for="UnidadeExecucao" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label asp-for="Orgao.Nome" class="control-label"></label>
                <select id="OrgaoId" class="form-control" asp-for="OrgaoId" asp-items="@ViewBag.Orgaos">
                    <option disabled selected>Selecione uma Unidade Orçamentária aqui</option>
                </select>
                <span asp-validation-for="OrgaoId" class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="UnidadeOrcamentaria" class="control-label"></label>
                <input asp-for="UnidadeOrcamentaria" class="form-control" />
                <span asp-validation-for="UnidadeOrcamentaria" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label asp-for="Assunto" class="control-label"></label>
                <textarea asp-for="Assunto" class="form-control"></textarea>
                <span asp-validation-for="Assunto" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label asp-for="Produto.Nome" class="control-label"></label>
                <select id="ProdutoId" class="form-control" asp-for="ProdutoId" asp-items="@ViewBag.Produtos">
                    <option disabled selected>Selecione um Produto aqui</option>
                </select>
                <span asp-validation-for="ProdutoId" class="text-danger"></span>
            </div>
        </div>
        <div class="col-2">
            <div class="form-group">
                <label asp-for="NumeroOrdem" class="control-label"></label>
                <input asp-for="NumeroOrdem" class="form-control" />
                <span asp-validation-for="NumeroOrdem" class="text-danger"></span>
            </div>
        </div>
        <div class="col-2">
            <div class="form-group">
                <label asp-for="AnoOrdem" class="control-label"></label>
                <input asp-for="AnoOrdem" class="form-control" />
                <span asp-validation-for="AnoOrdem" class="text-danger"></span>
            </div>
        </div>
        <div class="col-2">
            <div class="form-group">
                <label asp-for="Prazo" class="control-label"></label>
                <input asp-for="Prazo" class="form-control" />
                <span asp-validation-for="Prazo" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label asp-for="Complexidade" class="control-label"></label>
                <select id="Complexidades" class="form-control" asp-for="Complexidade">
                    <option disabled selected>Selecione uma Complexidade aqui</option>
                </select>
                <span asp-validation-for="Complexidade" class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="HorasDipendidas" class="control-label"></label>
                <input id="HorasDispendidas" asp-for="HorasDipendidas" class="form-control" />
                <span asp-validation-for="HorasDipendidas" class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="Produto.TipoPontuacao"></label>
                <input id="TipoPontuacao" class="form-control" disabled />
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="Produto.PontoBase"></label>
                <input id="PontoBase" class="form-control" disabled />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label asp-for="Situacao" class="control-label"></label>
                <select id="Situacao" class="form-control" asp-for="Situacao">
                    <option disabled selected>Selecione a situação aqui</option>
                    <option value="Em Elaboração">Em Elaboração</option>
                    <option value="Finalizado">Finalizado</option>
                </select>
                <span asp-validation-for="Situacao" class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="DataInicio" class="control-label"></label>
                <input asp-for="DataInicio" class="form-control" />
                <span asp-validation-for="DataInicio" class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="DataTermino" class="control-label"></label>
                <input id="Termino" asp-for="DataTermino" class="form-control" />
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="DataConclusao" class="control-label"></label>
                <input id="Conclusao" asp-for="DataConclusao" class="form-control" />
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="NumeroProduto" class="control-label"></label>
                <input asp-for="NumeroProduto" class="form-control" />
                <span asp-validation-for="NumeroProduto" class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="AnoProduto" class="control-label"></label>
                <input asp-for="AnoProduto" class="form-control" />
                <span asp-validation-for="AnoProduto" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label asp-for="ExpedienteOriginario" class="control-label"></label>
                <select id="Expediente" class="form-control" asp-for="ExpedienteOriginario">
                    <option disabled selected>Selecione o expediente originário</option>
                    <option value="Processo Administrativo">Processo Administrativo</option>
                    <option value="Pergunte a CGE">Pergunte a CGE</option>
                    <option value="Plano Anual de Auditoria">Plano Anual de Auditoria</option>
                    <option value="Outros">Outros</option>
                </select>
                <span asp-validation-for="ExpedienteOriginario" class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="NumeroDemanda" class="control-label"></label>
                <input id="NumeroDemanda" asp-for="NumeroDemanda" class="form-control" />
                <span asp-validation-for="NumeroDemanda" class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="AnoDemanda" class="control-label"></label>
                <input asp-for="AnoDemanda" class="form-control" />
                <span asp-validation-for="AnoDemanda" class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="ObservacoesDemanda" class="control-label"></label>
                <input asp-for="ObservacoesDemanda" class="form-control" />
                <span asp-validation-for="ObservacoesDemanda" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="row justify-content-start">
                <div class="col-md-auto">
                    <a class="btn btn-sm btn-primary" asp-action="Index">Voltar</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row justify-content-end">
                <div class="col-md-auto">
                    <a asp-action="Create" class="btn btn-sm btn-danger">Limpar</a>
                </div>
                <div class="col-md-auto">
                    <input type="submit" value="Salvar" class="btn btn-sm btn-primary" />
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts
{
    <script src="~/js/Produtividade.js" asp-append-version="true"></script>
}