﻿@model desempenho_cge.Models.Produtividade.Produtividade

<h1>Detalhes</h1>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Auditor.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Auditor.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Produto.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Produto.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Orgao.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Orgao.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UnidadeExecucao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UnidadeExecucao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Assunto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Assunto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroOrdem)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumeroOrdem)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AnoOrdem)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AnoOrdem)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prazo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prazo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Situacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Situacao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataInicio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataInicio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataTermino)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataTermino)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataConclusao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataConclusao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroProduto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumeroProduto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AnoProduto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AnoProduto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExpedienteOriginario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExpedienteOriginario)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroDemanda)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumeroDemanda)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AnoDemanda)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AnoDemanda)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ObservacoesDemanda)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ObservacoesDemanda)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pontuacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pontuacao)
        </dd>
    </dl>
</div>
<div>
    <p><a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@Model.ProdutividadeId">Editar</a></p>
    <p><a class="btn btn-sm btn-primary" asp-action="Index">Voltar</a></p>
</div>

