﻿@model IQueryable<desempenho_cge.Models.Produtividade.Produtividade>

@section css {
    <link rel="stylesheet" href="~/css/mvc-grid/mvc-grid.css" />
}

<div class="row justify-content-between align-items-center">
    <div class="col-md-auto">
        <h1>Produtividades</h1>
    </div>
    <div class="col-md-auto">
        <a class="btn btn-sm btn-primary" asp-action="Create">
            <i class="fas fa-plus"></i> Nova Produtividade
        </a>
    </div>
</div>
<br />

@(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add(x => x.Auditor.Nome).Titled("Auditor(a)");
        columns.Add(x => x.Produto.Nome).Titled("Produto");
        columns.Add(x => x.Orgao.Sigla).Titled("U.O");
        columns.Add(x => x.UnidadeExecucao).Titled("Unidade");
        columns.Add(x => x.Situacao).Titled("Situação");
        columns.Add(x => x.Pontuacao).Titled("Pontuação");
    })
    .Using(GridFilterMode.Header)
    .Empty("Nenhum dado foi encontrado")
    .Filterable()
    .Sortable()
    .Pageable()
)

@section Scripts {
    <script src="~/js/mvc-grid/mvc-grid.js"></script>
    <script>
        document.querySelectorAll(".mvc-grid").forEach(element => new MvcGrid(element));
    </script>
}
