﻿@model desempenho_cge.Models.Produtividade.Complexidade

<h1>Detalhes</h1>
<div>
    <dl class="row">
        <dt class="col-sm-2">Classificação</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Classificacao)
        </dd>
        <dt class = "col-sm-2">Peso da Complexidade</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Peso)
        </dd>
    </dl>
</div>
<div>
    <p><a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@Model.ComplexidadeId">Editar</a></p>
    <p><a class="btn btn-sm btn-primary" asp-action="Index">Voltar</a></p>
</div>
