﻿@model IEnumerable<desempenho_cge.Models.Produtividade.Complexidade>

<h1>Complexidades</h1>
<p><a class="btn btn-sm btn-primary" asp-action="Create">Nova Complexidade</a></p>
<table class="table">
    <thead>
        <tr>
            <th>Classificação</th>
            <th>Peso da Complexidade</th>
            <th>Detalhes</th>
            <th>Editar</th>
            <th>Excluir</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Classificacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Peso)
            </td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="Details" asp-route-id="@item.ComplexidadeId">Detalhes</a>
            </td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@item.ComplexidadeId">Editar</a>
            </td>
            <td>
                <form asp-action="Delete" asp-route-id="@item.ComplexidadeId" method="post">
                    <button type="submit" class="btn btn-sm btn-danger">
                        Excluir
                    </button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
