﻿@section css {
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap-table/bootstrap-table.min.css" />
}

<div class="row">
    <div class="col">
        <h1>Relatório de Capacitação por Modalidade e Auditor</h1>
    </div>
</div>
<br />
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col">
                <h4 class="card-text font-weight-bold">Filtrar dados:</h4>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-8">
                <h5 class="card-text font-weight-bold">Selecionar Auditor(a)</h5>
                <hr />
                <div class="row align-items-center">
                    <div class="col-10">
                        <select id="Auditores" class="form-control" asp-items="@ViewBag.Auditores"></select>
                    </div>
                    <div class="col-md-auto">
                        <button id="AddAuditor" type="button" class="btn btn-sm btn-success">
                            <i class="fas fa-plus"></i> Adicionar
                        </button>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col">
                        <form id="FormAuditores">
                            <ul id="AuditoresSelecionados" class="list-group"></ul>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <h5 class="card-text font-weight-bold">Selecionar situação</h5>
                <hr />
                <div class="row">
                    <div class="col">
                        <select id="Situacao" class="form-control">
                            <option value="Validado">Validado</option>
                            <option value="Não Validado">Não Validado</option>
                            <option value="">Todas situações</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-auto">
                <button id="ButtonGerar" type="button" class="btn btn-sm btn-primary">
                    Gerar Relatório
                </button>
            </div>
            <div class="col-md-auto">
                <button id="ButtonLimpar" type="button" class="btn btn-sm btn-danger">
                    Limpar Filtro
                </button>
            </div>
        </div>
    </div>
</div>
<br />
<table id="table" width="100%">
</table>

@section Scripts {
    <script type="text/javascript" charset="utf8" src="~/lib/bootstrap-table/bootstrap-table.min.js"></script>
    <script type="text/javascript" charset="utf8" src="~/js/relatorios/TableRelatorio.js"></script>
    <script type="text/javascript" charset="utf8" src="~/js/relatorios/AuditorCapacitacao.js"></script>
}