﻿@model desempenho_cge.Models.Unidade

<h1>Detalhes</h1>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sigla)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sigla)
        </dd>
    </dl>
</div>
<div>
    <p><a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@Model.UnidadeId">Editar</a></p>
    <p><a class="btn btn-sm btn-primary" asp-action="Index">Voltar</a></p>
</div>

