﻿@model desempenho_cge.ViewModels.RequisitoViewModel

<h1>Novo Requisito</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pontos" class="control-label"></label>
                <input id="pontos" asp-for="Pontos" class="form-control" />
                <span asp-validation-for="Pontos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModalidadeId" class="control-label"></label>
                <select class="form-control" asp-for="ModalidadeId" asp-items="@ViewBag.Modalidades"></select>
                <span asp-validation-for="ModalidadeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-sm btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-sm btn-primary" asp-action="Index">Voltar</a>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#pontos").maskMoney({ decimal: "," });
        });
    </script>
}
