﻿@model desempenho_cge.Models.Requisito

<h1>Detalhes</h1>
<div>
    <dl class="row">
        <dt class = "col-sm-2">Nome do Requisito</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">Pontos Base</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pontos)
        </dd>
        <dt class = "col-sm-2">Modalidade</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModalidadeId)
        </dd>
    </dl>
</div>
<div>
    <p><a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@Model.RequisitoId">Editar</a></p>
    <p><a class="btn btn-sm btn-primary" asp-action="Index">Voltar</a></p>
</div>