﻿@model IEnumerable<desempenho_cge.Models.Requisito>

<h1>Requisitos</h1>
<div class="row">
    <div class="col-md-auto">
        <a class="btn btn-sm btn-primary" asp-action="Create">Novo Requisito</a>
    </div>
    <div class="col-md-auto">
        <a class="btn btn-sm btn-primary" asp-controller="Modalidades" asp-action="Create">Nova Modalidade</a>
    </div>
</div>
<br />
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Nome do Requisito</th>
            <th>Pontos Base</th>
            <th>Modalidade</th>
            <th>Detalhes</th>
            <th>Editar</th>
            <th>Excluir</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pontos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modalidade.Nome)
            </td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="Details" asp-route-id="@item.RequisitoId">Detalhes</a>
            </td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@item.RequisitoId">Editar</a>
            </td>
            <td>
                <form asp-action="Delete" asp-route-id="@item.RequisitoId" method="post">
                    <button type="submit" class="btn btn-sm btn-danger">
                        Excluir
                    </button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
