﻿@model desempenho_cge.Models.Questao

<div class="row justify-content-center">
    <div class="col-md-6">
        <p><h1>Criar Questão</h1></p>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Conteúdo da Questão:</label>
                <textarea asp-for="Conteudo" class="form-control"></textarea>
                <span asp-validation-for="Conteudo" class="text-danger"></span>
            </div>
            <input asp-for="Nivel" type="hidden" />
            <input asp-for="QuestaoPaiId" type="hidden" /> 
            <div class="form-group">
                <div class="row">
                    <div class="col-md-auto">
                        <a class="btn btn-sm btn-dark" asp-route-id="@ViewBag.GrupoId"
                           asp-controller="Grupo" asp-action="Index">
                            <i class="fas fa-arrow-left"></i>
                            Voltar
                        </a>
                    </div>
                    <div class="col-md-auto">
                        <button type="submit" class="btn btn-sm btn-primary">
                            <i class="fas fa-save"></i>
                            Salvar
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

