﻿@model IEnumerable<desempenho_cge.Models.Eixo>

<h1>Eixo</h1>

<div class="row">
    <div class="col-md-auto">
        <a class="btn btn-sm btn-primary" asp-action="Create">Novo Eixo</a>
    </div>
</div>
<br />
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>Detalhes</th>
            <th>Editar</th>
            <th>Excluir</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="Details" asp-route-id="@item.EixoId">Detalhes</a>
            </td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@item.EixoId">Editar</a>
            </td>
            <td>
                <form asp-action="Delete" asp-route-id="@item.EixoId" method="post">
                    <button type="submit" class="btn btn-sm btn-danger">
                        Excluir
                    </button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
