﻿@model desempenho_cge.ViewModels.Qualidade.AvaliacaoRespostasViewModel
<div id="msg"></div>
<input type="hidden" class="avaliacaoId" value="@Model.AvaliacaoId" />
<div class="card text-center" id="questionario">
    <div class="card-body">
        <div class="row">
            @foreach (var grupo in Model.Grupos)
            {
                <div class="col-md-auto">
                    <a data-toggle="collapse" href="#grupo_@grupo.GrupoId" role="button"
                       aria-expanded="false" aria-controls="grupo_@grupo.GrupoId"
                       class="btn btn-sm btn-primary">@grupo.Conteudo</a>
                </div>
            }
        </div>
    </div>
    <div class="card-body">
        <div class="card-header">
            <div class="row">
                <div class="col-8">
                    Questão
                </div>
                <div class="col-1">
                    Valor
                </div>
                <div class="col-3">
                    Observação
                </div>
            </div>
        </div>
        @foreach (var grupo in Model.Grupos)
        {
            <div class="collapse" id="grupo_@grupo.GrupoId" data-parent="#questionario">
                <div class="card">
                    @foreach (var resposta in grupo.Respostas)
                    {                       
                        @if (resposta.Questao.SubQuestoes.Count > 0)
                        {
                            <div class="card-body">
                                <div class="row justify-content-between">
                                    <div class="col-md-auto">
                                        <p class="card-text text-left font-weight-bold">
                                            @resposta.QuestaoConteudo
                                        </p>
                                    </div>
                                    <div class="col-md-auto">
                                        <p class="card-text text-left font-weight-bold">
                                            Valor: @resposta.Valor
                                        </p>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="card-body">
                                <div class="resposta">
                                    <div class="row justify-content-between">
                                        <input type="hidden" class="resposta-id" value="@resposta.RespostaId" />
                                        <input type="hidden" class="avaliacao-id" value="@Model.AvaliacaoId" />
                                        <input type="hidden" class="questao-id" value="@resposta.QuestaoId" />
                                        <input type="hidden" class="questao-conteudo" value="@resposta.QuestaoConteudo" />
                                        <div class="col">
                                            <p class="card-text text-justify">
                                                @if (resposta.Questao.Nivel == 1)
                                                {
                                                    <strong>@resposta.QuestaoConteudo</strong>
                                                }
                                                else
                                                {
                                                    @resposta.QuestaoConteudo
                                                }
                                            </p>
                                        </div>
                                        <div class="col-2">
                                            <input class="form-control resposta-valor" asp-for="@resposta.Valor"/>
                                        </div>
                                        <div class="col-md-auto">
                                            <textarea class="form-control resposta-observacao" asp-for="@resposta.Observacao"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }                       
                    }
                </div>
            </div>
        }
    </div>
    <hr />
    <div class="card-body">
        <div class="row">
            <div class="col-md-auto">
                <button id="ButtonSalvar" type="button" class="btn btn-sm btn-primary">
                    Salvar
                </button>
            </div>
            <div class="col-md-auto">
                <a asp-action="Index" class="btn btn-sm btn-danger">Voltar</a>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/Answers.js" asp-append-version="true"></script>
    <script>
        /*$(document).ready(function () {
            $(".resposta-valor").maskMoney({ decimal: "," });
        });*/
    </script>
}