﻿@model desempenho_cge.ViewModels.AvaliacaoViewModel

<div class="row justify-content-center">
    <div class="col">
        <p><h1>Nova Avaliação</h1></p>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="QuestionarioId" class="control-label"></label>
                        <select asp-for="QuestionarioId" class="form-control" asp-items="@ViewBag.Questionarios">
                            <option disabled selected>Selecione um Questionário</option>
                        </select>
                        <span asp-validation-for="QuestionarioId" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="AuditorId" class="control-label"></label>
                        <select id="AuditorId" asp-for="AuditorId" class="form-control" asp-items="@ViewBag.Auditores">
                            <option disabled selected>Selecione um(a) Auditor(a)</option>
                        </select>
                        <span asp-validation-for="AuditorId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="UnidadeExecucao" class="control-label"></label>
                        <select id="Unidades" asp-for="UnidadeExecucao" class="form-control">
                            <option disabled selected>Selecione a Unidade de Execução</option>
                        </select>
                        <span asp-validation-for="UnidadeExecucao" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="DataEntrega" class="control-label"></label>
                        <input asp-for="DataEntrega" class="form-control" />
                        <span asp-validation-for="DataEntrega" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="ProdutoId" class="control-label"></label>
                        <select asp-for="ProdutoId" class="form-control" asp-items="@ViewBag.Produtos">
                            <option disabled selected>Selecione o produto</option>
                        </select>
                        <span asp-validation-for="ProdutoId" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <label class="control-label">Ordem de Serviço:</label>
                            <hr />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="NumeroServico" class="control-label"></label>
                                <input asp-for="NumeroServico" class="form-control" />
                                <span asp-validation-for="NumeroServico" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="AnoServico" class="control-label"></label>
                                <input asp-for="AnoServico" class="form-control" />
                                <span asp-validation-for="AnoServico" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <label class="control-label">Produto Gerado:</label>
                            <hr />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="NumeroProduto" class="control-label"></label>
                                <input asp-for="NumeroProduto" class="form-control" />
                                <span asp-validation-for="NumeroProduto" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="AnoProduto" class="control-label"></label>
                                <input asp-for="AnoProduto" class="form-control" />
                                <span asp-validation-for="AnoProduto" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row align-content-center">
                    <div class="col-md-auto">
                        <a class="btn btn-sm btn-dark" asp-action="Index">
                            <i class="fas fa-arrow-left"></i>
                            Voltar
                        </a>
                    </div>
                    <div class="col-md-auto">
                        <button type="submit" class="btn btn-sm btn-primary">
                            <i class="fas fa-save"></i>
                            Salvar
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    <script src="~/js/Produtividade.js" asp-append-version="true"></script>
}
