﻿@model IEnumerable<Avaliacao>

<div class="row justify-content-between align-content-center">
    <div class="col-md-auto">
        <h1>Avaliações</h1>
    </div>
    <div class="col-md-auto">
        <a asp-action="Create" class="btn btn-sm btn-primary">
            <i class="fas fa-plus"></i>
            Nova Avaliação
        </a>
    </div>
</div>
<br />
@foreach (var avaliacao in Model)
{
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <h5 class="mb-0">
                        Produto:
                    </h5>
                    <p>@Html.DisplayFor(x => avaliacao.Produto.Nome)</p>
                </div>
                <div class="col">
                    <h5 class="mb-0">
                        Funcionário:
                    </h5>
                    <p>@Html.DisplayFor(x => avaliacao.Auditor.Nome)</p>
                </div>
                <div class="col">
                    <h5 class="mb-0">
                        Avaliador:
                    </h5>
                    <p>@Html.DisplayFor(x => avaliacao.AppUser.UserName)</p>
                </div>
                <div class="col">
                    <h5 class="mb-0">
                        Data de Entrega:
                    </h5>
                    <p>@avaliacao.DataEntrega.ToLongDateString()</p>
                </div>
                <div class="col-md-auto">
                    <a asp-action="Answers" asp-route-id="@avaliacao.AvaliacaoId" 
                       class="btn btn-sm btn-success">
                        Responder
                    </a>
                </div>
                <div class="col-md-auto">
                    <a asp-action="Edit" asp-route-id="@avaliacao.AvaliacaoId" 
                       class="btn btn-sm btn-primary">
                        <i class="fas fa-edit"></i>
                    </a>
                </div>
                <div class="col-md-auto">
                    <form asp-action="Delete" asp-route-id="@avaliacao.AvaliacaoId" method="post">
                        <button type="submit" class="btn btn-sm btn-danger">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br />
}