﻿@model string

<h1>Criar Nível de Acesso</h1>
<a asp-action="Index" class="btn btn-secondary">Voltar</a>
<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label for="name">Nome:</label>
        <input name="name" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Criar</button>
</form>
