﻿@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

<h1>Níveis de Acessos</h1>
<a asp-action="Create" class="btn btn-secondary">Criar nível</a>

<table class="table table-sm table-bordered table-bordered">
    <tr>
        <th>Nível de Acesso</th>
        <th>Users</th>
        <th>Editar</th>
        <th>Excluir</th>
    </tr>
    @foreach (var role in Model)
    {
        <tr>
            <td>@role.Name</td>
            <td i-role="@role.Id"></td>
            <td><a class="btn btn-sm btn-primary" asp-action="Update" asp-route-id="@role.Id">Editar</a></td>
            <td>
                <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-danger">
                        Excluir
                    </button>
                </form>
            </td>
        </tr>
    }
</table>
