﻿@model desempenho_cge.ViewModels.TemaViewModel

<h1>Novo Tema</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Relevancia" class="control-label"></label>
                <select class="form-control" asp-for="Relevancia">
                    <option>Selecione o Grau de Relevância aqui</option>
                    <option value="Prioritário">Prioritário</option>
                    <option value="Intermediário">Intermediário</option>
                </select>
                <span asp-validation-for="Relevancia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EixoId" class="control-label"></label>
                <select class="form-control" asp-for="EixoId" asp-items="@ViewBag.Eixos">
                    <option>Selecione um Eixo de Conhecimento aqui</option>
                </select>
                <span asp-validation-for="EixoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-sm btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-sm btn-primary" asp-action="Index">Voltar</a>
</div>

