﻿@model desempenho_cge.Models.Tema

<h1>Detalhes</h1>
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Relevancia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Relevancia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EixoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EixoId)
        </dd>
    </dl>
</div>
<div>
    <p><a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@Model.TemaId">Editar</a></p>
    <p><a class="btn btn-sm btn-primary" asp-action="Index">Voltar</a></p>
</div>
