﻿@model IEnumerable<desempenho_cge.Models.Tema>

<h1>Temas</h1>
<p><a class="btn btn-sm btn-primary" asp-action="Create">Novo Tema</a></p>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Relevancia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EixoId)
            </th>
            <th>Detalhes</th>
            <th>Editar</th>
            <th>Excluir</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Relevancia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Eixo.Nome)
            </td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="Details" asp-route-id="@item.TemaId">Detalhes</a>
            </td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@item.TemaId">Editar</a>
            </td>
            <td>
                <form asp-action="Delete" asp-route-id="@item.TemaId" method="post">
                    <button type="submit" class="btn btn-sm btn-danger">
                        Excluir
                    </button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
