﻿@model desempenho_cge.Models.Questao

<div class="row justify-content-center">
    <div class="col-md-6">
        <p><h1>Editar Grupo</h1></p>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="QuestaoId" type="hidden" />
            <div class="form-group">
                <label asp-for="Conteudo" class="control-label"></label>
                <input asp-for="Conteudo" class="form-control" />
                <span asp-validation-for="Conteudo" class="text-danger"></span>
            </div>
            <input asp-for="Nivel" type="hidden" />
            <input asp-for="QuestionarioId" type="hidden" />
            <div class="form-group">
                <div class="row">
                    <div class="col-md-auto">
                        <a class="btn btn-sm btn-dark" 
                           asp-action="Index" asp-route-id="@Model.QuestaoId">
                            <i class="fas fa-arrow-left"></i>
                            Voltar
                        </a>
                    </div>
                    <div class="col-md-auto">
                        <button type="submit" class="btn btn-sm btn-primary">
                            <i class="fas fa-save"></i>
                            Salvar
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
