﻿@model Questao

<div class="card">
    <div class="card-body">
        <div class="row justify-content-between align-items-center">
            <div class="col-md-auto">
                <h5 class="card-title"># @Model.Conteudo</h5>
            </div>
            <div class="col-md-auto">
                <a class="btn btn-sm btn-primary"
                   asp-action="Index" asp-controller="Questionario">
                    <i class="fas fa-arrow-left"></i>
                    Voltar
                </a>
            </div>
        </div>
    </div>
    <hr />
    <div class="card-body">
        @foreach (var questao in Model.SubQuestoes)
        {
            <div class="card">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-md-auto">
                            <p class="card-text">
                                @questao.Conteudo
                            </p>
                        </div>
                    </div>
                    @if (questao.SubQuestoes.Count > 0)
                    {
                        <br />
                        <div class="card">
                            @foreach (var subquestao in questao.SubQuestoes)
                            {
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col-md-8">
                                            <p class="card-text">
                                                @subquestao.Conteudo
                                            </p>
                                        </div>
                                        <div class="col-md-auto">
                                            <a asp-controller="Questao" asp-action="Edit"
                                               class="btn btn-sm btn-primary" asp-route-id="@subquestao.QuestaoId">
                                                <i class="far fa-edit"></i>
                                                Editar Questão
                                            </a>
                                        </div>
                                        <div class="col-md-2">
                                            <form asp-controller="Questao" asp-action="Delete" asp-route-id="@subquestao.QuestaoId" method="post">
                                                <button type="submit" class="btn btn-sm btn-danger">
                                                    <i class="fas fa-trash-alt"></i>
                                                    Excluir Questão
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                            }
                        </div>
                    }
                </div>
                <hr />
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-md-auto">
                            <a asp-controller="Questao" asp-action="Create"
                               class="btn btn-sm btn-success" asp-route-id="@questao.QuestaoId">
                                <i class="fas fa-plus"></i>
                                Inserir Questão
                            </a>
                        </div>
                        <div class="col-md-auto">
                            <a  asp-controller="Questao" asp-action="Edit"
                               class="btn btn-sm btn-primary" asp-route-id="@questao.QuestaoId">
                                <i class="far fa-edit"></i>
                                Editar Questão
                            </a>
                        </div>
                        <div class="col-md-auto">
                            <form asp-controller="Questao" asp-action="Delete" asp-route-id="@questao.QuestaoId" method="post">
                                <button type="submit" class="btn btn-sm btn-danger">
                                    <i class="fas fa-trash-alt"></i>
                                    Excluir Questão
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <br />
        }
    </div>
    <hr />
    <div class="card-body">
        <div class="row align-items-center">
            <div class="col-md-auto">
                <a asp-controller="Questao" asp-action="Create"
                   class="btn btn-sm btn-success" asp-route-id="@Model.QuestaoId">
                    <i class="fas fa-plus"></i>
                    Inserir Questão
                </a>
            </div>
            <div class="col-md-auto">
                <a asp-action="Edit" asp-route-id="@Model.QuestaoId"
                   class="btn btn-sm btn-primary">
                    <i class="far fa-edit"></i>
                    Editar Grupo
                </a>
            </div>
            <div class="col-md-auto">
                <form asp-action="Delete" asp-route-id="@Model.QuestaoId"  method="post">
                    <button type="submit" class="btn btn-sm btn-danger">
                        <i class="fas fa-trash-alt"></i>
                        Excluir Grupo
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
