﻿@model desempenho_cge.ViewModels.Produtividade.ProdutoViewModel

<h1>Excluir Produto</h1>
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Esforco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Esforco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoPontuacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoPontuacao)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
