﻿@model desempenho_cge.Models.Produtividade.Produto

<h1>Detalhes</h1>
<div>
    <dl class="row">
        <dt class="col-sm-4">Nome do Produto:</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-4">Esforço (Auditor / Hora):</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Esforco)
        </dd>
        <dt class="col-sm-4">Pontos Base:</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PontoBase)
        </dd>
        <dt class="col-sm-4">Tipo de Pontuação:</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoPontuacao)
        </dd>
    </dl>
</div>
<div>
    <p><a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@Model.ProdutoId">Editar</a></p>
    <p><a class="btn btn-sm btn-primary" asp-action="Index">Voltar</a></p>
</div>