﻿@model desempenho_cge.ViewModels.Produtividade.ProdutoViewModel

<h1>Editar Produto</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div class="form-group">
                <label asp-for="ProdutoId" class="control-label"></label>
                <input hidden asp-for="ProdutoId" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Esforco" class="control-label"></label>
                <input asp-for="Esforco" class="form-control" />
                <span asp-validation-for="Esforco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoPontuacao" class="control-label"></label>
                <select asp-for="TipoPontuacao" class="form-control">
                    <option value="Fixa">Fixa</option>
                    <option value="Variável">Variável</option>
                </select>
                <span asp-validation-for="TipoPontuacao" class="text-danger"></span>
            </div>
            <div>
                @Html.EditorFor(x => x.Complexidades)
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar Alterações" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-sm btn-primary" asp-action="Index">Voltar</a>
</div>


