﻿@model IEnumerable<desempenho_cge.Models.Produtividade.Produto>

<h1>Produtos</h1>
<p><a class="btn btn-sm btn-primary" asp-action="Create">Novo Produto</a></p>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Nome do Produto</th>
            <th>Pontos Base</th>
            <th>Tipo de Pontuação</th>
            <th>Detalhes</th>
            <th>Editar</th>
            <th>Excluir</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PontoBase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoPontuacao)
            </td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="Details" asp-route-id="@item.ProdutoId">Detalhes</a>
            </td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@item.ProdutoId">Editar</a>
            </td>
            <td>
                <form asp-action="Delete" asp-route-id="@item.ProdutoId" method="post">
                    <button type="submit" class="btn btn-sm btn-danger">
                        Excluir
                    </button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
