﻿@model desempenho_cge.ViewModels.ModalidadeViewModel

<h1>Nova Modalidade</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoModalidade" class="control-label"></label>
                <select id="TipoModalidade" class="form-control" asp-for="TipoModalidade">
                    <option>Selecione o tipo de Modalidade</option>
                    <option value="Pontuação Fixa">Pontuação Fixa</option>
                    <option value="Pontuação p/ Hora">Pontuação p/ Hora</option>
                    <option value="Pontuação p/ Relevância">Pontuação p/ Relevância</option>
                    <option value="Pontuação p/ Item">Pontuação p/ Item</option>
                </select>
                <span asp-validation-for="TipoModalidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pontos" class="control-label"></label>
                <input id="pontos" asp-for="Pontos" class="form-control" />
                <span asp-validation-for="Pontos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-sm btn-primary" asp-action="Index">Voltar</a>
</div>

@section Scripts
{
    <script src="~/js/Modalidade.js" asp-append-version="true"></script>
}
