﻿@model desempenho_cge.Models.Modalidade

<h1>Detalhes</h1>
<div>
    <dl class="row">
        <dt class = "col-sm-2">Nome da Modalidade</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
    </dl>
</div>
<div>
    <p><a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@Model.ModalidadeId">Editar</a></p>
    <p><a class="btn btn-sm btn-primary" asp-action="Index">Voltar</a></p>
</div>
